# for 반복문 
 - 리스트, 문자열 등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
 - 아래와 같은 문법으로 사용
 - 여기서 i는 a 의 원소를 순차적으로 순회하며 값을 갖는다
 - i가 모든 원소를 순회하면 for 블록이 종료됨
 
```python
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
```

In [1]:
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
print('complete!!')

1 2
2 4
4 8
3 6
5 10
complete!!

#### 문자열 원소 출력하기

In [3]:
a = 'hello python'
for character in a:
    print(character)

h
e
l
l
o

p
y
t
h
o
n

#### 리스트 원소 출력하기

In [4]:
a = [1, 10, 3, 4, 5]
for num in a:
    if num % 2 == 0:
        print(num/2)
    else:    
        print(num+1)

2
5.0
4
2.0
6

#### dictionary 원소 출력하기
  - dictionary의 경우 기본적으로 순회하게 되면 key값을 참조
  - keys()함수를 이용하여 key 값만 순회 가능
  - values()함수를 이용하여 value 값만 순회 가능
  - items()함수를 이용하여 tuple형태로 key, value 순회 가능

In [5]:
a = {'korea':'seoul', 'japan':'tokyo', 'canada':'ottawa'}
for key in a:   # dict를 순회하면서 key값만 참조함
    print(key)

korea
japan
canada

In [6]:
a = {'korea':'seoul', 'japan':'tokyo', 'canada':'ottawa'}
for key in a:
    print(key, a[key])  # dict를 순회하면서 key값과 value를 함께 참조하고자 하는 경우

korea seoul
japan tokyo
canada ottawa

In [7]:
for value in a.values(): # dict를 순회하면서 value값만 참조함
    print(value)

seoul
tokyo
ottawa

In [8]:
list(a.items())  # 튜플을 원소로 갖는 리스트

[('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [9]:
for key, value in a.items():  # 튜플 형태로 되어 있는 원소들을 key, value 변수로 가져옴
    print(key, value)

korea seoul
japan tokyo
canada ottawa

#### for문에서 index와 value을 함께 가져오기
  - enumerate() 함수를 사용하면 index와 value를 함께 가져올 수 있음
  
```python
a = [1, 2, 4, 3, 5]
for i, val in enumerate(a):
    print(i, val)
```

In [11]:
a = [1, 2, 4, 3, 5]
for index, num in enumerate(a):
    if index > 3:
        print(index, num)

4 5

####  break
  - for의 경우에도 특정 조건일 때, loop 종료가 가능

In [13]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num < 80:
        break
        
    print(num)

100
90
80

#### continue
 - 해당 원소를 건너뛰고 싶을 때 사용

In [14]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num >= 60 and num <= 70:
        continue
        
    print(num)

100
90
80
50

#### loop 중첩
  - 반복문의 경우에도 중첩하여 사용 가능
  - 중첩이라는 것은 반복문 블록 코드 안에 또 반복문 코드가 작성되는 것을 의미
  - 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 됨
  - 중첩의 제한은 없음

```python
a = [1, 2, 3, 4]
for i in a:
    for j in a:
        print(i * j)
```

#### 구구단 출력하기

In [17]:
x = [2, 3, 4, 5, 6, 7, 8, 9]
y = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### len() 함수
 - 내장함수란 Python 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
 - abs, len, type, range 등이 있음

In [18]:
a = [1, 2, 3, 4, 5, 6, 7]
print(len(a))

print(len('hello python'))

7
12

#### range() 함수
  - 리스트를 쉽게 만들 수 있는 내장함수
 
```python
range(10)       -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)    -> [2, 3, 4, 5, 6, 7, 8, 9] 
range(2, 10, 3) -> [2, 5, 8] 
```

In [19]:
list(range(10))  # 0 부터 시작해서 10-1 까지의 리스트 생성

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(1, 10))  # 1 부터 시작해서 10-1 까지의 리스트 생성

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
a = list(range(1, 101))  # 1 부터 시작해서 101-1 까지의 리스트 생성
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [22]:
a = list(range(1, 101, 5))  # 1 부터 시작해서 101-1 까지, 5 씩 건너 뛰는 리스트 생성
print(a)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

* 1부터 100사이의 5의 배수만을 갖는 리스트 생성하기

In [23]:
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

### if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [24]:
# 1.구구단을 2 - 9단까지 출력하시오.

x = [2, 3, 4, 5, 6, 7, 8, 9]
y = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [25]:
x = 2
while x <= 9:
    y = 1
    while y <= 9:
        print(x, 'x', y, '=', x*y)
        y += 1
    x += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [26]:
# 2.1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.

nums = list(range(1, 101))

for i in nums:
    if i % 2 == 0 or i % 11 == 0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [27]:
# sort함수(정렬)을 사용한 경우

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
a.sort()
print(a[-1], a[0])

99 1

In [28]:
# 3.a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 
_max = a[0]
_min = a[0]

for x in a[1:]:
    if x > _max:
        _max = x
    if x < _min:
        _min = x
print(_max, _min)

99 1

In [29]:
# 4.a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

_sum = 0

for i in a:
    _sum += i

print(_sum/len(a))

37.0

In [30]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

i = 0
_sum = 0

while i < len(a):
    _sum = _sum + a[i]    
    i += 1
print(_sum/len(a))

37.0